<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Texty AngularJS example</title>
        <style>
            button.active {
                color: red;
            }
        </style>
    </head>
    <body>
        <div ng-controller="ExampleCtrl">
            <div>
                <button ng-repeat="(applierName,applier) in editor.appliers" ng-click="applier.toggle()" ng-class="{ 'active':applier.is()}">
                    {{applierName}}
                </button>
            </div>
            <div texty="editor" html="html">
            </div>
            {{editor}}
        </div>
        <script src="../build/rangy.min.js"></script>
        <script src="../build/texty.min.js"></script>
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="../adapters/texty-angular-adapter.js"></script>
        <script src="./angular.js"></script>
    </body>
</html>